h1 {
    color: coral;
    background: brown ;
    text-align: center;
    background: rgba(0, 128, 0, 0.6);
   
}
h2 {
    color: coral;   
    background: brown;
    text-align: center;
    background:  rgba(0, 128, 0, 0.6);
    
}
li {
    background:  rgba(0, 128, 0, 0.6); 
    
}
a:link {
    color: firebrick;
}
a:hover {
    color: darkblue;
    font-size: 1.2;
}
a:active {
    font-size: 1.2;
}
a:visited {
    color: greenyellow ;
}

div {
    color: coral;
    background-color: brown;
    font-size: 30px;
    text-align: center;
    background: center;
    background-image: url(css.png);
   
}

p {
    background:  rgba(0, 128, 0, 0.6); 
}
